version: "3.1"
services:
  docker-backup:
    container_name: rpi-backup
    build: .
    restart: unless-stopped
    # somehow ssh/sftp to diskstation does no more work with bridge network
    network_mode: "host"
    volumes:
      - /:/root_fs:ro
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - RESTIC_REPOSITORY=${RESTIC_REPOSITORY}
      - RESTIC_PASSWORD=${RESTIC_PASSWORD}
      - SFTP_HOST=${SFTP_HOST}
      - SFTP_KEY=${SFTP_KEY}
